#tab #tab-header ul{
    display: flex;
    font-size: 0.26rem;
    margin:0 1.24rem;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}
 #tab #tab-header ul li:first-child{
    color: #06e39d
}
#tab #tab-content{
    font-size: 0.26rem;
    /* margin-left: 0.3rem; */
    white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow:ellipsis;
}
#tab #tab-content .dom{
    display: none;
    margin-left: 0.3rem;
}
#tab #tab-content input{
    width: 1.14rem;
  height: 0.54rem;
  border: 1px solid #a4fadf;
  background-color: #cefaec;
  color: #06e39d;
  border-radius: 0.2rem;
  text-align: center;
}
.active{
    color: #06e39d
}