<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<div th:each="msg:${errmsg}">
    <p th:text="${msg}"></p>
</div>


<div th:each="adminuser:${adminUsers}">
    <p th:text="${adminuser.name}"></p>
    <a th:href="@{'/admin/deladminuser/'+${adminuser.id}}">del</a>
</div>

商家管理
<br>
添加品牌
<form th:action="@{/brand/newbrand}" method="post" enctype="multipart/form-data">
    商家名<input type="text" name="name">
    描述<input type="text" name="description">
    头像<input type="file" name="img">
    密码<input type="password" name="password">
    重复密码<input type="password" name="repeatpassword">
    <input type="submit">
</form>
<hr>

获得品牌的信息，包括所有店铺信息
<a href="/brand/getbrand?brandid=11">/brand/getbrand?brandid=11</a>
<hr>

更新品牌信息，如果不变，为空
<form th:action="@{/brand/updatebrandadmin}" method="post" enctype="multipart/form-data">
    id hidden<input type="text" name="brandid">
    描述 <input type="text" name="description">
    头像 <input type="file" name="img">
    <input type="submit">
</form>

<hr>

<hr>
删除店铺

<form th:action="@{/brand/deletebrand}">
    店铺id<input type="text" name="brandid">
    <input type="submit">
</form>

<hr>

添加管理员
<form th:action="@{/admin/addadminuser}" method="post">
    用户名 ：<input type="text" name="username">
    密码： <input type="password" name="password">
    密码： <input type="password" name="repeatpassword">
    <input type="submit">
</form>

<hr>

所有admin
<a href="/admin/alladmin?page=1">所有admin</a>

<hr>
删除管理员

<form th:action="@{/admin/deladminuser}" method="post">
    管理员id <input type="text" name="userid">
    <input type="submit">
</form>

<hr>
列出所有管理员
<a href="/admin/alladmin">列出所有admin</a>

<hr>
所有用户通用,修改当前已经的登录的账户的密码
<form th:action="@{/user/changepssword}" method="post">
    新密码<input type="text" name="passwd">
    重复密码<input type="text" name="repeatpasswd">
    <input type="submit">
</form>


<hr>
修改其他用户的密码，admin修改brand的，brand修改shop的
<form th:action="@{/user/changeuserpssword}" method="post">


</form>

</body>
</html>