<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺</title>
</head>
<body>
店铺管理
</body>

<form method="post" th:action="@{/staff/deletestaff/31}">
    <!--avatar <input type="file" name="avatar">-->
    <!--name <input type="text" name="name">-->
    <!--male <input type="text" name="male">-->
    <!--birthday <input type="text" name="birthday">-->
    <!--nation <input type="text" name="nation">-->
    <!--party <input type="text" name="party">-->
    <!--healthy <input type="text" name="healthy">-->
    <!--nativeplace<input type="text" name="nativeplace">-->
    <!--address<input type="text" name="address">-->
    <!--phone<input type="text" name="phone">-->
    <!--emergencyphone<input type="text" name="emergencyphone">-->
    <!--p1name<input type="text" name="p1name">-->
    <!--p1male<input type="text" name="p1male">-->
    <!--p1company<input type="text" name="p1company">-->
    <!--p1relationship<input type="text" name="p1relationship">-->
    <!--p2name<input type="text" name="p2name">-->
    <!--p2male<input type="text" name="p2male">-->
    <!--p2company<input type="text" name="p2company">-->
    <!--p2relationship<input type="text" name="p2relationship">-->
    <!--角色<input type="text" name="role">-->
    <!--店家id<input type="text" name="shopid">-->
    <div><input type="submit" value="删除员工"/></div>
</form>


<hr>

新的结算单
<form action="">

    <input type="text" name="timestamp">
    <input type="text" name="customername">
    <input type="text" name="price">
    <input type="text" name="staffid">
    <input type="text" name="category2id">
    <input type="text" name="brandname">
    <input type="text" name="paymentmethod">
    <input type="text" name="consultant">
    <input type="text" name="reporterid">

</form>



结算
<form th:action="@{/settlement/statistics}">
    <input type="date" name="datefrom">
    <input type="date" name="dateto">
    <input type="submit">
</form>



<form method="post" th:action="@{/staff/family/editFamilyMember/1}">
    name <input type="text" name="name">
    campany <input type="text" name="companyname">
    age <input type="text" name="age">
    relation <input type="text" name="relationship">
    <div><input type="submit" value="更改家庭成员"/></div>
</form>
</html>